@page
@model Senior_Project.Pages.BellewoodModel
@{
}
<h2>@ViewData["Title"]</h2>

<head>
    <title>360 Views</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://aframe.io/releases/1.5.0/aframe.min.js"></script>
    <script src="https://github.com/aframevr/aframe/blob/master/examples/showcase/link-traversal/js/components/link-controls.js"></script>
</head>

<body>
    <a-scene cursor="rayOrigin: mouse;" raycaster="objects: .rayclick;">
        <a-camera position="0 1.6 0" look-controls="reverseMouseDrag: true"></a-camera>
        <a-entity id="cam" camera="zoom: 1"></a-entity>
        <a-assets>
            <img id="Bellewood360" crossorigin="anonymous" src="~/Bellewood Scan.jpg" />
        </a-assets>
        <a-sky src="#Bellewood360"></a-sky>
        <a-text font="kelsonsans" value="Welcome to" color="white" width="12" position="2 -3 -18" rotation="0 0 0"></a-text>
        <a-link href="https://superbowl-centers.com/" title="Superbowl Bellewood" id="interactive-link" class="rayclick" position="1 -1.4 -5" rotation="0 0 0"></a-link>
        <a-link href="/Index" title="Home" id="interactive-link" class="rayclick" position="-5 -5 -5" rotation="-10 30 0"></a-link>
    </a-scene>

    <script>
        //Zooming
        window.addEventListener("wheel", (event) => {
            
            const delta = event.wheelDelta / 120 / 10;
            var mycam = document.getElementById("cam").getAttribute("camera");
            var finalZoom = mycam.zoom + delta;

            if (finalZoom < 0.5) finalZoom = 0.5;
            if (finalZoom > 2) finalZoom = 2;
            mycam.zoom = finalZoom;

            document.getElementById("cam").setAttribute("camera", mycam);
        });
    </script>
</body>