@page
@model Senior_Project.Pages.NewsletterSignUpModel
@{
}
<h2>@ViewData["Title"]</h2>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            margin: 0;
            text-align: center;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background: url("Thomas More Logo.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            font-family: Arial, sans-serif;
        }

        form {
            background-color: #ffffff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
            max-width: 400px;
            width: 100%;
            margin: 0 auto;
        }

        .form-group {
            margin-bottom: 15px;
            display: flex;
            align-items: center;
            flex-direction: column;
            align-items: stretch;
        }

        label {
            width: 100%;
            text-align: left;
            margin-right: 0;
            color: #233E8D;
            width: 100%;
        }

        .text-danger {
            color: #ff0000;
            font-size: 12px;
            margin-top: 4px;
        }

        .form-title {
            display: flex;
            justify-content: center;
            align-items: center;
            color: #233E8D;
            margin-bottom: 20px;
        }

            .form-title h2 {
                color: #233E8D;
                font-weight: bold;
            }

            .form-title img {
                max-width: 50px;
            }

        input[type="email"], input[type="text"] {
            flex: 1;
            padding: 14px;
            font-size: 14px;
            box-sizing: border-box;
            border: 2px solid #233E8D;
            border-radius: 4px;
            outline: none;
        }

        input[type="submit"] {
            padding: 12px 20px;
            font-size: 16px;
            cursor: pointer;
            width: 100%;
            background-color: #233E8D;
            color: #ffffff;
            border: none;
            border-radius: 4px;
            transition: background-color 0.3s ease;
            transition: transform 1s;
        }

            input[type="submit"]:hover {
                background-color: #1C3268;
                transform: scale(1.2);
            }
    </style>
</head>
<body>
    <form method="post" name="EmailForm" onsubmit="return validateForm()">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-title">
            <a href="/Index">
                <img src="~/Thomas More Logo.jpg" alt="Left Image">
            </a>
            <h2>Sign up for the Thomas More Bowling Newsletter!</h2>
            <a href="/Index">
                <img src="~/Thomas More Logo.jpg" alt="Right Image">
            </a>
        </div>
        <div class="form-group">
            <label for="recruit.fname">First Name:</label>
            <input type="text" name="fname" asp-for="recruit.fname" required />
        </div>
        <div class="form-group">
            <label for="recruit.lname">Last Name:</label>
            <input type="text" name="lname" asp-for="recruit.lname" required />
        </div>
        <div class="form-group">
            <label for="recruit.email">Email:</label>
            <input type="email" name="email" asp-for="recruit.email" required />
            <span asp-validation-for="recruit.email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="recruit.gradyear">Graduation Year:</label>
            <input type="text" name="gradyear" asp-for="recruit.gradyear" required />
        </div>
        <div class="form-group">
            <label for="recruit.highschool">High School:</label>
            <input type="text" name="highschool" asp-for="recruit.highschool" required />
        </div>
        <div class="form-group">
            <label for="recruit.notes">Notes:</label>
            <input type="text" name="notes" asp-for="recruit.notes" />
        </div>
        <input type="submit" />
    </form>
</body>
<script>
    function validateForm() {
        var fname = document.forms["EmailForm"]["fname"].value;
        var lname = document.forms["EmailForm"]["lname"].value;
        var email = document.forms["EmailForm"]["email"].value;
        var gradyear = parseInt(document.forms["EmailForm"]["gradyear"].value);
        var highschool = document.forms["EmailForm"]["highschool"].value;

        if (fname == "" || lname == "" || email == "" || gradyear == "" || highschool == "") {
            alert("All fields must be filled out");
            return false;
        }

        if ((gradyear < 1950 || gradyear > 2050) || isNaN(gradyear)) {
            alert("Graduation Year must be a number between 1950 and 2050");
            return false;
        }
    }
</script>