@page
@model Senior_Project.Pages.SuccessModel
@{
}

<head>
    <style>
        body {
            background: url("Huddle.jpg");
            background-position: top;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .content {
            text-align: center;
            margin: 0;
            position: absolute;
            top: 50%;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        }

        h1 {
            font-family: 'Palanquin', sans-serif;
            font-weight: bold;
            font-size: 45px;
            color: #233E8D;
            background-color: rgba(240, 245, 255, 0.5); /* slightly lighter blue with some transparency */
            padding: 20px; /* added padding for better readability */
            margin: 0;
            border-radius: 8px; /* rounded corners */
        }

        input[type="submit"] {
            font-size: 18px;
            padding: 8px 15px;
            cursor: pointer;
            background-color: #233E8D;
            color: #ffffff;
            border: none;
            border-radius: 4px;
            transition: background-color 0.3s ease;
            transition: transform 1s;
        }

            input[type="submit"]:hover {
                background-color: #1C3268;
            }
    </style>
</head>

<body>
    <div class="content">
        <h1>
            Success!  We have received your information.
        </h1>
        <form method="post">
            <input type="submit" value="Home" />
        </form>
    </div>
</body>

