@page
@model Senior_Project.Pages.TournamentModel
@{
}

<style>
    h1 {
        font-family: 'Palanquin';
        text-align: center;
        font-weight: bold;
        font-size: 45px;
        color: #233E8D;
    }

    .results, .informationheader {
        font-family: 'Palanquin';
        font-weight: bold;
        font-size: 30px;
        color: #233E8D;
    }

    .pdf-viewer iframe {
        width: 100%;
        height: 500px; /* Adjust height as needed */
        border: none;
    }
</style>

<h1>First Annual Hammer Saints Invitational</h1>

<h1>First Annual Hammer Saints Invitational</h1>
<div class="results">
    Results:
    <a href="~/HSC24%20WOMENSVARSITYTEAM.pdf" target="_blank">Women's varsity</a>
    <img src="~/HSC24 WOMENSVARSITYTEAM.jpg" alt="Women's Varsity" />
    <a href="~/HSC24%20MENSVARSITYTEAM.pdf" target="_blank">Men's varsity</a>
    <img src="~/HSC24 MENSVARSITYTEAM.jpg" alt="Men's Varsity" />
    <a href="~/HSC24%20WOMENSJVTEAM.pdf" target="_blank">Women's junior varsity</a>
    <img src="~/HSC24 WOMENSJVTEAM.jpg" alt="Women's JV" />
    <a href="~/HSC24%20MENSJVTEAM.pdf" target="_blank">Men's junior varsity</a>
    <img src="~/HSC24 MENSJVTEAM.jpg" alt="Men's JV" />
</div>
<div class="informationheader">
    Information:
</div>
<div class="informationbody">
    TBD
</div>
