@media screen and (max-width: 480px) {
    .sidenav {
        width: 100%;
        float: none;
        position: relative;
        bottom: 0;
        margin-left: 0;
        resize: none;
        /*margin-top: 10px;*/
    }

    .main {
        margin-left: 0;
    }

    .resizer {
        display: none;
    }
}