@page
@model Senior_Project.Pages.TournamentModel
@{
}

<style>
    h1 {
        font-family: 'Palanquin';
        text-align: center;
        font-weight: bold;
        font-size: 45px;
        color: #233E8D;
    }

    .results , .informationheader {
        font-family: 'Palanquin';
        font-weight: bold;
        font-size: 30px;
        color: #233E8D;
    }
</style>
<h1>First Annual Hammer Saints Invitational</h1>
<div class="results">
    Results:
    <a href="~/HSC24 WOMENSVARSITYTEAM.pdf" download>Women's varsity</a>
    <a href="~/HSC24 MENSVARSITYTEAM.pdf" download>Men's varsity</a>
    <a href="~/HSC24 WOMENSJVTEAM.pdf" download>Women's junior varsity</a>
    <a href="~/HSC24 MENSJVTEAM.pdf" download>Men's junior varsity</a>
</div>
<div class="informationheader">
    Information:
</div>
<div class="informationbody">
    TBD
</div>